<div id ="{{id}}" class="hidden details">
  Owner: <a href="/author/{{owner.id}}">{{owner.login}}</a><br>
  Description: {{description}}<br>
  Date Created: {{created_at}}<br>
  Last Updated: {{updated_at}}<br>
  Last Pushed: {{pushed_at}}<br>
  <a href="{{html_url}}">Open in Github</a>
</div>
